<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="FluentAssertions" version="2.1.0.0" targetFramework="net40" />
  <package id="Moq" version="4.1.1308.2321" targetFramework="net40" />
  <package id="OpenMagic" version="0.1.21.0" targetFramework="net40" />
  <package id="TestMagic" version="0.1.5" targetFramework="net40" />
</packages>